// Externals

// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';

// Basics
@import 'basics/typography';
@import 'basics/base';
@import 'basics/helpers';
@import 'basics/layout';
@import 'basics/modals';
@import 'basics/animations';

// Pages

// Components
@import 'components/user-preview';
@import 'components/tiny-url-app';
@import 'components/app-header';
@import 'components/register';
@import 'components/roadmap';
@import 'components/login';
@import 'components/input';
@import 'components/app';
.msg-list {
  color: white;
}

.tiny-url-chat {
  color: white;
}

.info {
  color: white;
}

.room-edit {
  color: white;
}
